.idea/*
node_modules
wp-content/languages/*
wp-content/plugins/*
wp-content/themes/*
wp-content/uploads/*
tmp/cookies/*
tmp/po/*.po
glotpress.git
meta-environment-vvv.git
meta.git
wporg-parent-2021.git
wporg-mu-plugins.git
